Source: wfplug-imenu
Section: x11
Priority: optional
Maintainer: Simon Long <simon@raspberrypi.com>
Build-Depends: debhelper-compat (= 13), meson,
 libgtkmm-3.0-dev (>= 3.24), wf-panel-pi-dev (>=1.18),
 libgtk-layer-shell-dev (>= 0.6.0), libglm-dev, libmenu-cache-dev
Standards-Version: 4.5.1
Homepage: http://raspberrypi.com/

Package: wfplug-imenu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 wf-panel-pi (>=1.18)
Description: Icon launcher plugin for wf-panel-pi
 Plugin for wf-panel-pi to show icon view of launchable applications.
